- name: Check if OS is Ubuntu or Debian
  ansible.builtin.assert:
    that:
      - ansible_facts['os_family'] == 'Debian'
    fail_msg: "This playbook only supports Ubuntu/Debian."

# Transfer to target VM
- name: Copy Wazuh agent .deb to target VM
  ansible.builtin.copy:
    src: "{{ wazuh_agent_local_path }}"
    dest: "{{ wazuh_agent_remote_path }}"
    mode: '0644'

# Install on target VM
- name: Install Wazuh agent package
  ansible.builtin.apt:
    deb: "{{ wazuh_agent_remote_path }}"
  environment:
    WAZUH_MANAGER: "{{ ludus_wazuh_siem_server }}"

- name: Ensure wazuh-agent is started and enabled
  ansible.builtin.systemd:
    name: wazuh-agent
    state: started
    enabled: true
    daemon_reload: true